.displayContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 25vw;
    max-height: 75vh;
    padding: 0px 10px 10px 10px;

    .contentContainer {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 20vw;
    }

    .candidateInfo {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px;
        height: 100%;
    }

    .dataLabel {
        font-weight: bold;
        margin-right: 5px;
    }

    .statusLabel {
        font-weight: bold;
    }

    .closeBtn {
        align-self: flex-end;
        margin-right: 25px;
    }

    .titleContainer {
        align-self: center;
    }

    .btnContainer {
        max-width: 100px;
        align-self: center;
    }
}
